/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




  #navlinks{

    text-align:center;
    margin: 0;
  	padding: 1em 6em;
  	background: #f2f1ec;
  	color: #FFF;
  	font-size: 13px;
  	list-style: none;
    border-bottom: 1px solid black;
  }

  #navlinks a{
    font-size: 1.5em;
    color: #333;
    font-weight: lighter;
    font-family:"Lucida Console", sans-serif;
    text-decoration: none;
    padding: 1em;
  }

  #navlinks li {
  	display: inline;
  	margin-right: .9em;
  	padding-right: 0.75em;
  	font-weight: lighter;
  }

  #navlinks img{
   background-color: #f2f1ec;
   height: 10em;
   width:30em;
   align-content: center;
 }

  #footerlink{
    position:fixed;bottom:0;left:0;right:0;height:10px;
    text-align: center;
      border-spacing: 2em;

 }

 #footerlink li{
   display: inline;
   border-right: 1px solid #000000;
   padding-left: 2em;
   padding-right: 2em;
 }

 #footerlink li.last{
   border-right: none;

 }
